adal==1.2.7
aiohttp==3.7.4.post0
alembic==1.6.5
amqp==2.6.1
AMQPStorm==2.8.5
analytics-python==1.3.1
ansiwrap==0.8.4
apache-airflow==2.1.0
apache-airflow-providers-ftp==1.1.0
apache-airflow-providers-google==4.0.0
apache-airflow-providers-http==2.0.0
apache-airflow-providers-imap==1.0.1
apache-airflow-providers-mysql==2.0.0
apache-airflow-providers-postgres==2.0.0
apache-airflow-providers-sqlite==1.0.2
apache-beam==2.30.0
apispec==3.3.2
appdirs==1.4.4
appnope==0.1.2
APScheduler==3.6.3
argcomplete==1.12.3
argon2-cffi==20.1.0
arrow==0.17.0
asn1crypto==1.4.0
async-generator==1.10
async-timeout==3.0.1
attrs==20.3.0
Authlib==0.15.4
avro-python3==1.9.2.1
azure-batch==10.0.0
azure-common==1.1.27
azure-core==1.16.0
azure-cosmos==3.2.0
azure-datalake-store==0.0.52
azure-identity==1.6.0
azure-keyvault==4.1.0
azure-keyvault-certificates==4.3.0
azure-keyvault-keys==4.4.0
azure-keyvault-secrets==4.3.0
azure-kusto-data==0.0.45
azure-mgmt-containerinstance==1.5.0
azure-mgmt-core==1.3.0
azure-mgmt-datafactory==1.1.0
azure-mgmt-datalake-nspkg==3.0.1
azure-mgmt-datalake-store==0.5.0
azure-mgmt-nspkg==3.0.2
azure-mgmt-resource==18.0.0
azure-nspkg==3.0.2
azure-storage-blob==12.8.1
azure-storage-common==2.1.0
azure-storage-file==2.1.0
Babel==2.9.1
backcall==0.2.0
backoff==1.10.0
bcrypt==3.2.0
billiard==3.6.4.0
black==21.6b0
bleach==3.3.0
blinker==1.4
boto==2.49.0
boto3==1.17.104
botocore==1.20.104
cachetools==4.2.2
cassandra-driver==3.25.0
cattrs==1.7.1
celery==4.4.7
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
click==7.1.2
clickclick==20.10.2
cloudant==2.14.0
cloudpickle==1.4.1
colorama==0.4.4
colorlog==5.0.1
commonmark==0.9.1
crcmod==1.7
croniter==1.0.13
cryptography==3.4.7
curlify==2.2.1
cx-Oracle==8.2.1
dask==2021.6.2
datadog==0.42.0
decorator==5.0.9
defusedxml==0.7.1
dill==0.3.1.1
distlib==0.3.2
dnspython==1.16.0
docker==5.0.0
docopt==0.6.2
docutils==0.17.1
elasticsearch==7.5.1
elasticsearch-dbapi==0.1.0
elasticsearch-dsl==7.3.0
email-validator==1.1.2
entrypoints==0.3
facebook-business==11.0.0
fastavro==1.4.2
filelock==3.0.12
Flask==1.1.4
Flask-AppBuilder==3.3.0
Flask-Babel==1.0.0
Flask-Caching==1.10.1
Flask-JWT-Extended==3.25.1
Flask-Login==0.4.1
Flask-OpenID==1.2.5
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.3
flower==0.9.7
fsspec==2021.6.1
future==0.18.2
gcsfs==2021.6.1
geomet==0.2.1.post1
google-ads==7.0.0
google-api-core==1.29.0
google-api-python-client==1.12.8
google-auth==1.30.1
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.4
google-cloud==0.34.0
google-cloud-appengine-logging==0.1.1
google-cloud-audit-log==0.1.0
google-cloud-automl==2.3.0
google-cloud-bigquery==2.18.0
google-cloud-bigquery-datatransfer==3.2.0
google-cloud-bigquery-storage==2.5.0
google-cloud-bigtable==1.7.0
google-cloud-container==1.0.1
google-cloud-core==1.6.0
google-cloud-datacatalog==3.2.1
google-cloud-dataproc==2.4.0
google-cloud-dlp==1.0.0
google-cloud-kms==2.3.0
google-cloud-language==1.3.0
google-cloud-logging==2.5.0
google-cloud-memcache==1.0.0
google-cloud-monitoring==2.4.0
google-cloud-os-login==2.2.1
google-cloud-pubsub==2.6.0
google-cloud-redis==2.1.1
google-cloud-secret-manager==1.0.0
google-cloud-spanner==1.19.1
google-cloud-speech==1.3.2
google-cloud-storage==1.38.0
google-cloud-tasks==2.4.0
google-cloud-texttospeech==1.0.1
google-cloud-translate==1.7.0
google-cloud-videointelligence==1.16.1
google-cloud-vision==1.0.0
google-cloud-workflows==1.1.0
google-crc32c==1.1.2
google-resumable-media==1.3.0
googleapis-common-protos==1.53.0
